
<body style="background-color: #f4f4f4;">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">我的站内信</div>

      <section class="post-content" style="padding: 12px;">
        <%= raw @message.content %>
      </section>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(window.parent.document).find("#iframe").load(function () {
      var main = $(window.parent.document).find("#iframe");
      var thisheight = $(document).height() + 30;
      main.height(thisheight);
    });
  });
</script>
</body>