
<body style="background-color: #f4f4f4;">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="list-group packages" id="ajax_form">

      <a class="package list-group-item" style="background-color: white;">
        <div class="row">
          <div class="col-md-12">
            <h3 class="package-name"><span>修改密码</span><span
            style="margin-left: 12px;color: #e1e1e8;">ResetPassword</span></h3>
            <div id="ajax-notice"></div>
          </div>

        </div>
      </a>

      <a class="package list-group-item" style="background-color: white;">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h4 class="package-name">输入手机验证码：</h4>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="text" id="form-phone" name="form-sms" class="form-control search"
                   placeholder="输入您获取到的手机验证码">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <h4 class="package-name">
              <button id="send_sms_code_button"
                      class="btn-green btn-green-default" id="form-sms-button" onclick="send_sms();">获取手机验证码</button></h4>
          </div>
        </div>
      </a>

      <a class="package list-group-item" style="background-color: white;">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h4 class="package-name">输入新密码：</h4>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <input type="password" id="form-password" name="form-password" class="form-control search"
                   placeholder="输入您的新密码">
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h5 class="package-name" style="color: red;" id="tips1"></h5>
          </div>
        </div>
      </a>
      <a class="package list-group-item" style="background-color: white;">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h4 class="package-name">确认新密码：</h4>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <input id="form-repassword" type="password" name="form-repassword" class="form-control search"
                   placeholder="再次输入您的新密码">
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <h5 class="package-name" style="color: red;" id="tips2"></h5>
          </div>
        </div>
      </a>

      <a class="package list-group-item" style="background-color: white;">
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <button id="submitButton" onclick="submit_form();" class="btn btn-danger btn-lg" style="border-radius: 2px;">
              保存信息更改
            </button>
          </div>
        </div>
      </a>

      <script>
        $(document).ready(function () {
          $("#form-phone").on('input', function (e) {
            checkPhone();
            setButtonEnable();
          });

          $("#form-password").on('input', function (e) {
            checkPassword();
            setButtonEnable();
          });
          $("#form-repassword").on('input', function (e) {
            checkRePassword();
            setButtonEnable();
          });
        });

        function checkempty(formnumber) {
          if (formnumber == 2) {
            if ($("#form-repassword").val().length == 0) {
              $("#tips2").html("确认密码不能为空");
              $("#tips2").css("color", "red");
              return false;
            }

            else return true;
          }
          if (formnumber == 1)
          {
            if ($("#form-password").val().length == 0) {
              $("#tips1").html("密码不能为空");
              $("#tips1").css("color", "red");
              return false;
            }

            else
            {
              return true;
            }
          }
          if (formnumber == 3) //名称
          {
            if ($("#form-phone").val().length == 0) {
//              $("#send_sms_code_button").attr("disabled","disabled");
              return false;
            }
            else
            {
              return true;
            }
          }

        }
        function checkPassword() {
          if (checkempty(1)) {
            $("#tips1").html("√");
            $("#tips1").css("color", "green");
            return true;
          }
          else return false;
        }
        function checkRePassword() {
          if (checkempty(2)) {
            if($("#form-repassword").val()!=$("#form-password").val())
            {
              $("#tips2").html("两次输入的密码不一致");
              $("#tips2").css("color", "red");
              return false;
            }
            else
            {

              $("#tips2").html("√");
              $("#tips2").css("color", "green");
              return true;
            }

          }
          else return false;
        }
        function checkPhone() {
          if (checkempty(3)) {
//            $("#send_sms_code_button").removeAttr("disabled");
            return true;
          }
          else return false;
        }
        function setButtonEnable() {
          if(checkPhone()&&checkPassword()&&checkRePassword())
          {
            $("#submitButton").removeAttr("disabled");
          }
          else
          {
            $("#submitButton").attr("disabled","disabled");
          }

        }
      </script>

    </div>
  </div>
</div>
<script>
  function send_sms() {
    var step = 59;
    var sms = document.getElementById("form-sms-button");
    $.ajax({
      url: '/func/sms_send',
      method: 'POST',
      data: 'func="user_auth"',
      processData: false,
      contentType: 'application/x-www-form-urlencoded',
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      success: function(result) {
        if(result == 'true'){
          $(sms).text('重新发送60');
          var _res = setInterval(function()
          {
            $(sms).attr("disabled", true);//设置disabled属性
            $(sms).text('重新发送'+step);
            step-=1;
            if(step <= 0){
              $(sms).removeAttr("disabled"); //移除disabled属性
              $(sms).text('获取验证码');
              clearInterval(_res);//清除setInterval
            }
          },1000);
        }
      }
    });
  }
  function submit_form(){
    var str_data=$("#ajax_form input").map(function(){
      if($(this).attr("type") != 'radio')
        return encodeURI($(this).attr("name")+'='+$(this).val());
    }).get().join("&");
    $.ajax({
      url: '/func/update_pwd',
      method: 'POST',
      data: str_data,
      processData: false,
      contentType: 'application/x-www-form-urlencoded',
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      success: function(result) {
        if(result == 'true'){
          $("#ajax-notice").html("<div class='alert alert-success' role='alert'><strong>修改成功!</strong> 您的密码已经更新</div>")
        }
        else {
          $("#ajax-notice").html("<div class='alert alert-danger' role='alert'><strong>"+result+"</strong></div>");
        }
      }
    });
  }
</script>
</body>