<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IGMRC后台管理中心</title>

  <%= render :partial => 'layouts/admin_assets' %>

</head>
<script>
  $(document).ready(function() {
    $("#iframe").height($(window).height()-50);
  });

  $(window).resize(function () {
    $("#iframe").height($(window).height()-50);
  });

</script>
<body style="overflow-y: hidden">

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/index.html">IGMRC后台管理中心</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="/users/usercenter.html"><i class="fa fa-user fa-fw"></i> <%= session['login_user_nickname'] %></a>
          </li>
          <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>-->
          <!--</li>-->
          <li class="divider"></li>
          <li><a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i> 退出登陆</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <%= render :partial => 'layouts/admin_left_nav' %>

  </nav>

  <div id="page-wrapper" style="padding: 0px;height: 100%;">
    <iframe id="iframe" name="mainFrame" scrolling="yes"
            frameborder="0"
            src="/admin/dashboard.html"
            style="padding: 0px; width: 100%; margin:0;height:100%;float: right; ">
    </iframe>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</div>

<!-- /#wrapper -->

<!-- jQuery -->



</body>

</html>
