<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <h3>管理菜单</h3>
        </div>
        <!-- /input-group -->
      </li>
      <li>
        <a href="/admin/index.html"><i class="fa fa-dashboard fa-fw"></i> 仪表盘</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user fa-fw"></i> 网站会员管理<span class="fa arrow"></span></a>
        <!-- /.nav-second-level -->
        <ul class="nav nav-second-level">
          <li>
            <a href="/admin/member.html"  target="mainFrame" target="mainFrame">会员列表</a>
          </li>
          <li>
            <a href="/admin/send-meaasge.html" target="mainFrame">发送站内信</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> 举报站点<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/admin/site-new.html" target="mainFrame">新建站点</a>
          </li>
          <li>
            <a href="/admin/site-list.html" target="mainFrame">站点管理</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-edit fa-fw"></i> 文章与新闻<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/admin/article-new.html" target="mainFrame">新建文章</a>
          </li>
          <li>
            <a href="/admin/article-list.html" target="mainFrame">文章管理</a>
          </li>
          <li>
            <a href="/admin/article-colum-manage.html" target="mainFrame">文章栏目管理</a>
          </li>
          <li>
            <a href="/admin/commet-list.html" target="mainFrame">评论管理</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin/site-setting.html" target="mainFrame"><i class="fa fa-wrench fa-fw"></i>站点信息设置</a>

        <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="/admin/menu-edit.html" target="mainFrame"><i class="fa fa-sitemap fa-fw"></i> 顶部菜单设置</a>

      </li>
      <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> 站点页面<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/admin/page-new.html" target="mainFrame">增加页面</a>
          </li>
          <li>
            <a href="/admin/page-list.html" target="mainFrame">页面管理</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->